$bright-blue: rgba(33, 150, 243, 1);
$dark-blue: rgba(25, 118, 210, 1);
$bright-gray: rgba(0, 0, 0, 0.08);
$white: rgba(255, 255, 255, 1);

//@import "utilities/variables" to use these vars inside other scss files
